@using System.Web.UI.WebControls
@using Travel.Models
@model Travel.Models.PageModel

@{
    ViewBag.Title = "CardTypeGroup";

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedCompId = HttpContext.Current.Session["loggedCompID"].ToString();




    TravelDbContext db = new TravelDbContext();
}

@*<link href="~/Content/bootstrap%20datepicker%20css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap%20datepicker%20css/datepicker3.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap-datepicker.js"></script>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.AGlMaster.COMPID, new { id = "txtCompId", @Value = LoggedCompId })
    @Html.HiddenFor(model => model.AGlCostPMST.COSTCID, new { id = "txtCostCID" })
    <div id="contentHeaderBox">
        <h1 style="padding-left:16px">Card Type Operating P/L Group</h1>
    </div>
    <br />
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">

                <div class="col-md-3">
                    <span>@Html.Label("name", "Card Type Head", htmlAttributes: new { @class = "control-label" })</span>
                    @Html.TextBoxFor(model => model.AGlCostPMST.COSTCNM, htmlAttributes: new { id = "txtCostCNM", @class = "form-control input-sm",autofocus=true})
                    @Html.ValidationMessageFor(model => model.AGlCostPMST.COSTCNM, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    <span>@Html.Label("name", "From", htmlAttributes: new { @class = "control-label" })</span>
                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control input-sm", id = "idFromdate" })

                </div>

                <div class="col-md-3">
                    <span>@Html.Label("name", "To", htmlAttributes: new { @class = "control-label" })</span>
                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control input-sm", id = "idTodate" })

                </div>


                <div class="col-md-1">
                    <span><br /></span>
                    <input id="SubmitId" type="submit" class="btn btn-info" value="Print" name="command" formtarget="_blank" />
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>



    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#idFromdate").datepicker({ dateFormat: 'dd-M-yy', changeYear: true });
            });
            $(function () {
                $("#idTodate").datepicker({ dateFormat: 'dd-M-yy', changeYear: true });
            });
            $('#txtCostCNM').autocomplete(
            {
                source: '@Url.Action("TagSearch2", "CostPoolReport")',
                select: function (event, ui) {
                    var changedtxt = ui.item.value;
                    txtOneChanged();
                    //document.getElementById("idFromdate").focus();
                },
                change: $('#txtCostCNM').keyup(_.debounce(txtOneChanged, 500)),

            });
        });
        function txtOneChanged() {
            var changedText = $("#txtCostCNM").val();
            var txtBox = document.getElementById('txtCostCNM');
            var txtBox1 = document.getElementById('txtCostCID');
            $.getJSON(
                '/CostPoolReport/ItemNameChanged2', { "ChangedText": changedText },
                function (result) {
                    txtBox.value = result.Costname;
                    txtBox1.value = result.Costcid;

                    //document.getElementById("txtCostCNM").focus();
                });
        }
    </script>


}


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/Underscore.js"></script>