@using Travel.DataAccess
@using Travel.Models
@model Travel.Models.PageModel

@{
    Layout = null;

    var LoggedCompId = Model.passenger.COMPID;

    Int64 compid = Convert.ToInt64(LoggedCompId);

    string companyName = "", address = "", contactNo = "";
    TravelDbContext db = new TravelDbContext();
    var SelectCompanyName = from n in db.AslCompanyDbSet

                            where n.COMPID == compid
                            select new { n.COMPNM, n.ADDRESS, n.CONTACTNO };

    foreach (var n in SelectCompanyName)
    {
        companyName = n.COMPNM;
        address = n.ADDRESS;
        contactNo = n.CONTACTNO;
    }
    var compNm = companyName;
    var Address = address;
    var contactno = contactNo;


    var year = Model.passenger.CARDYY;



    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);


    decimal sumcredit = 0, sumdebit = 0, result = 0, debitamount = 0, creditamount = 0, totaldebit = 0, totalcredit = 0;
    string tdebit = "", tcredit = "";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link href="~/Content/reportcss/style.css" rel="stylesheet" />
</head>
<body>

    <table id="mainTable" border="0" width="100%">
        <thead>
            <tr>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="10%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>
                <td width="5%"></td>

            </tr>
            <tr style="background-color: #00689b">
                <td colspan="12">
                    <h3 style="color: white;padding:4px">@compNm</h3>
                    <p style="color:white;padding-left:4px">@Address<span>  @contactno</span></p>
                </td>

                <td colspan="6" style="color: white;padding:8px" align="right">
                    Powered By<br />Alchemy Software
                </td>

            </tr>
            <tr>
                <td colspan="12" align="left" style="padding: 4px; font-weight: bold">Card Information- Year Wise</td>
                <td align="right" colspan="6" style="padding:8px">Print:@currentDateTime.ToString("dd-MM-yy hh:mm tt")</td>
            </tr>
            <tr style="outline: thin solid">

                @*@{
                    string d = Convert.ToString(fromdate);
                    DateTime fdate = DateTime.Parse(d);
                    string ffdt = fdate.ToString("dd-MMM-yyyy");


                }*@
                <td colspan="12" style="font-weight: bold;padding:4px">
                    As On : <span style="font-weight:bold">@year</span>

                </td>
            </tr>
            <tr style="background-color: #00689b; outline: thin solid">
                <td colspan="2" style="color: white; padding: 4px; font-size: small" align="center">Card No</td>
                <td colspan="3" style="color: white; padding: 4px; font-size: small" align="center">Card Date</td>
                <td colspan="3" style="color: white; padding: 4px; font-size: small" align="center">Card Type</td>
                <td colspan="3" style="color: white; padding: 4px; font-size: small" align="center">Passenger Name</td>
                <td colspan="2" style="color: white; padding: 4px; font-size: small" align="center">Profession</td>
                <td colspan="5" style="color: white; padding: 4px; font-size: small" align="center">Agent name</td>


            </tr>
        </thead>
        <tbody>
            @{
                var passengerdata = (from n in db.passengerDbSet where n.COMPID == compid && n.CARDYY == year select n).OrderBy(x=>x.CARDNO).ToList();
                var costpmstdata = (from n in db.GLCostPMSTDbSet where n.COMPID == compid select new {n.COSTCID, n.COSTCNM}).ToList();
                var accountname = (from n in db.GlAcchartDbSet where n.COMPID == compid select new {n.ACCOUNTNM, n.ACCOUNTCD}).ToList();
                Int64 i = 0;

            }
            @foreach (var item in passengerdata)
            {
                if (i == 0)
                {
                    <tr style="outline: thin solid">


                                <td colspan="2" style="padding-left: 4px">@item.CARDNO</td>
                              
                        
                        @{
                            string d = Convert.ToString(item.CARDDT);
                         DateTime fdate = DateTime.Parse(d);
                         string ffdt = fdate.ToString("dd-MMM-yyyy");
                           
                       } 
                        <td colspan="3" align="center">@ffdt</td>

                        @foreach (var x in costpmstdata)
                        {
                            if (Convert.ToString(x.COSTCID) == item.CARDCID)
                            {
                                <td colspan="3" align="center">@x.COSTCNM</td>
                            }

                        }
                       
                        <td colspan="3">@item.PSGRNM</td>
                        <td colspan="2">@item.PROFESSION</td>

                        @foreach (var x in accountname)
                        {
                            if (x.ACCOUNTCD == item.AGENTID)
                            {
                                <td colspan="5">@x.ACCOUNTNM</td>
                            }

                        }

                    </tr>
                        i = 1;
                }
                else
                {
                    <tr style="outline: thin initial">



                        <td colspan="2" style="padding-left: 4px">@item.CARDNO</td>



                        @{
                    string d = Convert.ToString(item.CARDDT);
                    DateTime fdate = DateTime.Parse(d);
                    string ffdt = fdate.ToString("dd-MMM-yyyy");

                        }
                        <td colspan="3" align="center">@ffdt</td>
                        @foreach (var x in costpmstdata)
                        {
                            if (Convert.ToString(x.COSTCID) == item.CARDCID)
                            {
                                <td colspan="3" align="center">@x.COSTCNM</td>
                            }

                        }

                        <td colspan="3">@item.PSGRNM</td>
                        <td colspan="2">@item.PROFESSION</td>
                        @foreach (var x in accountname)
                        {
                            if (x.ACCOUNTCD == item.AGENTID)
                            {
                                <td colspan="5">@x.ACCOUNTNM</td>
                            }

                        }

                    </tr>
                        i = 0;
                }




            }
           

        </tbody>
    </table>



</body>
</html>
