@using System.Web.UI.WebControls
@using Travel.Models
@model Travel.Models.PageModel

@{
    ViewBag.Title = "Op_PL_Statement";

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedCompId = HttpContext.Current.Session["loggedCompID"].ToString();
    Int64 compid = Convert.ToInt64(LoggedCompId);
    TravelDbContext db = new TravelDbContext();



    List<SelectListItem>listcardcid=new List<SelectListItem>();
    var costhead = (from n in db.GLCostPMSTDbSet where n.COMPID == compid select new {n.COSTCID, n.COSTCNM}).ToList();
    foreach (var x in costhead)
    {
        listcardcid.Add(new SelectListItem{Text=x.COSTCNM,Value=Convert.ToString(x.COSTCID)});
    }






}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.RPDRCR.COMPID, new { id = "txtCompId", @Value = LoggedCompId })

    <div id="contentHeaderBox">
        <h1 style="padding-left:16px">Operating P/L Statement</h1>
    </div>
    <br />
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">



                <div class="col-md-3">
                    <span>@Html.Label("name", "From", htmlAttributes: new { @class = "control-label" })</span>
                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control input-sm", id = "idFromdate"})

                </div>

                <div class="col-md-3">
                    <span>@Html.Label("name", "To", htmlAttributes: new { @class = "control-label" })</span>
                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control input-sm", id = "idTodate" })

                </div>

                <div class="col-md-3">
                    <span>@Html.Label("name", "Type", htmlAttributes: new { @class = "control-label" })</span>
                    @Html.DropDownListFor(model => model.passenger.CARDCID,listcardcid,"--Select--", new { @class = "form-control input-sm", id = "idCardcid" })

                </div>

                <div class="col-md-1">
                    <span><br /></span>
                    <input id="SubmitId" type="submit" class="btn btn-info" value="Print" name="command" formtarget="_blank" />
                </div>

            </div>
        </div>



    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#idFromdate").datepicker({ dateFormat: 'dd-M-yy', changeYear: true });
            });
            $(function () {
                $("#idTodate").datepicker({ dateFormat: 'dd-M-yy', changeYear: true });
            });

        });

    </script>

}


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>

<script src="~/Scripts/Underscore.js"></script>

