@using System.Data
@using System.Data.SqlClient
@using Travel.DataAccess
@using Travel.Models

@model Travel.Models.PageModel

@{
    Layout = null;

    var LoggedCompId = Model.passenger.COMPID;
    Int64 compid = Convert.ToInt64(LoggedCompId);
    string companyName = "", address = "", contactNo = "";
    TravelDbContext db = new TravelDbContext();
    var SelectCompanyName = from n in db.AslCompanyDbSet

                            where n.COMPID == compid
                            select new { n.COMPNM, n.ADDRESS, n.CONTACTNO };

    foreach (var n in SelectCompanyName)
    {
        companyName = n.COMPNM;
        address = n.ADDRESS;
        contactNo = n.CONTACTNO;
    }
    var compNm = companyName;
    var Address = address;
    var contactno = contactNo;


    var fromdate = Model.FromDate;
    var todate = Model.ToDate;
    var agentid = Model.passenger.AGENTID;
    var year = Model.passenger.CARDYY;

    var agent_name = (from n in db.GlAcchartDbSet where n.COMPID == compid && n.ACCOUNTCD == agentid select n).ToList();
    string agentname = "";
    foreach (var ss in agent_name)
    {
        agentname = ss.ACCOUNTNM;
    }
    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);

    decimal sumdebit = 0, sumcredit = 0, result = 0, totalAsset = 0, totalLiability = 0;
    int q = 1;


    string cardcid = Model.passenger.CARDCID;

}

<!DOCTYPE html>

<html lang="en">
<head>
    <link href="~/Content/reportcss/style.css" rel="stylesheet" />
</head>

<body style=" background-color:white;">
    <div style="width: 100%; margin: 48px 0px 0px auto; border: 1px solid white; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0); background: none repeat scroll 0 0 white;">
        <table id="mainTable" border="0" width="100%">
            <thead>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="10%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                   

                </tr>

                @*<tr style="background-color: white;height:48px">
                    <td colspan="12">
                        <h3 style="color: white;padding:4px">@compNm</h3>
                        <p style="color:white;padding-left:4px">@Address<span>  @contactno</span></p>
                    </td>

                    <td colspan="6" style="color: white;padding:8px" align="right">
                        Powered By<br />Alchemy Software
                    </td>

                </tr>*@
                @*<tr>
                    <td colspan="12" align="left" style="padding: 4px; font-weight: bold; color: white">Passenger List - Agent Wise</td>
                    <td align="right" colspan="6" style="padding: 8px; color: white">Print:@currentDateTime.ToString("dd-MM-yy hh:mm tt")</td>
                </tr>*@
                <tr>
                    <td colspan="15" style="padding:4px;text-align:center">Agent : @agentname</td>

                </tr>
                <tr style="outline: thin solid">
                    @{
                        string d2 = Convert.ToString(todate);
                        DateTime fdate2 = DateTime.Parse(d2);
                        string ffdt2 = fdate2.ToString("dd-MMM-yyyy");


                        string d = Convert.ToString(fromdate);
                        DateTime fdate = DateTime.Parse(d);
                        string ffdt = fdate.ToString("dd-MMM-yyyy");
                    }
                    <td colspan="8" style="font-weight: bold;padding:4px;text-align:right">
                        From Date : <span style="font-weight:bold">@ffdt</span>
                    </td>

                    <td colspan="7" style="font-weight: bold;padding:4px;text-align:left">
                        To Date : <span style="font-weight:bold">@ffdt2</span>
                    </td>
                </tr>
                <tr style="background-color:white; outline: thin solid">
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid" align="center">SL</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Non-Govt No</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Pilgrim ID</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Card No</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Passenger</td>

                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Address</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Date of Birth</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Passport No</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Expire Date</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Relation</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Mobile No</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Image</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Receivable</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Received</td>
                    <td colspan="1" style="color: black; padding: 4px; font-size: smaller; outline: thin solid; " align="center">Due</td>


                </tr>
            </thead>

            <tbody>


                @{

                    System.Data.SqlClient.SqlConnection conn = new System.Data.SqlClient.SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings["TravelDbContext"].ToString());

                    string query = string.Format(
    @"select DISTINCT(PKGSTP) from TAMS_PASSENGER where COMPID='{0}'", Model.passenger.COMPID);
                    System.Data.SqlClient.SqlCommand cmd = new System.Data.SqlClient.SqlCommand(query, conn);
                    conn.Open();
                    SqlDataAdapter da = new SqlDataAdapter(cmd);
                    DataTable ds = new DataTable();
                    da.Fill(ds);
                    string package = "";
                    Int64 i=0;
                    foreach (DataRow row in ds.Rows)
                    {
                        package = row["PKGSTP"].ToString();




                        System.Data.SqlClient.SqlConnection conn2 = new System.Data.SqlClient.SqlConnection(System.Configuration.ConfigurationManager.ConnectionStrings["TravelDbContext"].ToString());
                        string query2 = "";
                        if (cardcid != "111")
                        {
                            query2 = string.Format(
@"SELECT PKGSTP, NGNO,CARDID,CARDNO, PILGRIMID, PSGRNM AS Passenger,' F/H: '+FATHERNM as fh,' Mother: '+MOTHERNM as mm,CARDIDPIC, PERADDR ADDRESS, DOB, PASSPORTNO, EXPIREDT, GRDREL, MOBNO
FROM   TAMS_PASSENGER
WHERE COMPID='{0}' AND AGENTID = '{1}' AND CARDYY = '{2}' AND CARDDT BETWEEN '{3}' AND '{4}' AND CARDCID='{5}'
ORDER  BY PKGSTP, NGNO",
compid, agentid, year, fromdate, todate, cardcid);
                        }
                        else
                        {
                            query2 = string.Format(
@"SELECT PKGSTP, NGNO,CARDID,CARDNO, PILGRIMID, PSGRNM AS Passenger,' F/H: '+FATHERNM as fh,' Mother: '+MOTHERNM as mm,CARDIDPIC, PERADDR ADDRESS, DOB, PASSPORTNO, EXPIREDT, GRDREL, MOBNO
FROM   TAMS_PASSENGER
WHERE COMPID='{0}' AND AGENTID = '{1}' AND CARDYY = '{2}' AND CARDDT BETWEEN '{3}' AND '{4}'
ORDER  BY PKGSTP, NGNO",
compid, agentid, year, fromdate, todate);
                        }

                        System.Data.SqlClient.SqlCommand cmd2 = new System.Data.SqlClient.SqlCommand(query2, conn2);
                        conn2.Open();
                        SqlDataAdapter da2 = new SqlDataAdapter(cmd2);
                        DataTable ds2 = new DataTable();
                        da2.Fill(ds2);


                        string cardid="",cardno="", pk = "", ngno = "", pilgrimid = "", add = "", dob = "", passport = "", expiredt = "", grdrel = "", mobno = "", pp = "", imgsrc = "", ff = "", mm = "";
                        Int64 flag = 0;
                        foreach (DataRow row2 in ds2.Rows)
                        {
                            pk = row2["PKGSTP"].ToString();
                            if (pk == package)
                            {
                                if (flag == 0)
                                {
                                    <tr style=" outline: thin solid">
                                        <td colspan="15" style="padding-left: 4px; font-size: smaller"> Package: @pk</td>





                                    </tr>
                                    flag = 1;
                                }
                                ngno = row2["NGNO"].ToString();
                                pilgrimid = row2["PILGRIMID"].ToString();
                                pp = row2["Passenger"].ToString();
                                add = row2["ADDRESS"].ToString();
                                cardno = row2["CARDNO"].ToString();

                                dob = row2["DOB"].ToString();
                                passport = row2["PASSPORTNO"].ToString();
                                expiredt = row2["EXPIREDT"].ToString();
                                grdrel = row2["GRDREL"].ToString();
                                mobno = row2["MOBNO"].ToString();

                                imgsrc = row2["CARDIDPIC"].ToString();

                                string DOB = "", EXPDT = "";
                                if (dob != "")
                                {
                                    DateTime dateofbirth = DateTime.Parse(dob);
                                    DOB = dateofbirth.ToString("dd-MM-yy");
                                }
                                if (expiredt != "")
                                {
                                    DateTime expdate = DateTime.Parse(expiredt);
                                    EXPDT = expdate.ToString("dd-MM-yy");
                                }

                                ff = row2["fh"].ToString();
                                mm = row2["mm"].ToString();
                                cardid =row2["CARDID"].ToString();

                                decimal search_receivableFromGlMaster = Convert.ToDecimal((from n in db.GlMasterDbSet where n.COMPID == compid && n.TABLEID == "RPDRCR" && n.TRANSTP == "JOUR" && n.TRANSDRCR == "DEBIT" && n.CARDID == cardid select n.DEBITAMT).Sum());
                                decimal search_receivedFromGlMaster = Convert.ToDecimal((from n in db.GlMasterDbSet where n.COMPID == compid && n.TABLEID == "RPDRCR" && n.TRANSTP == "MREC" && n.TRANSDRCR == "DEBIT" && n.CARDID == cardid select n.DEBITAMT).Sum());
                                decimal due = search_receivableFromGlMaster - search_receivedFromGlMaster;
                                i++;
                                <tr style=" outline: thin solid">
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@i</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@ngno</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@pilgrimid</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@cardno</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@pp<br />@ff<br />@mm</td>

                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@add</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@DOB</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@passport</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@EXPDT</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@grdrel</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller">@mobno</td>
                                    <td colspan="1" style="outline:thin solid"><img src="@imgsrc" style="height:70px;width:70px" /></td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller;text-align:right">@search_receivableFromGlMaster</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller; text-align: right">@search_receivedFromGlMaster</td>
                                    <td colspan="1" style="outline: thin solid; font-size: smaller; text-align: right">@due</td>
                                </tr>




                            }



                        }


                        conn2.Close();






                    }


                    conn.Close();









                }


            </tbody>
        </table>
    </div>
</body>
</html>
