@using System.Data
@using System.Data.SqlClient
@using Travel.Models


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gaoucia Travels & Tours</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>


    <link href="~/Content/bootstrap-3.2.0-dist/css/bootstrap-theme.css" rel="stylesheet" />

    <script src="~/Content/bootstrap-3.2.0-dist/js/bootstrap.js"></script>

    @*bootstrap -Clock Picker*@
    <link href="~/Content/bootstrap_clock_picker/src/clockpicker.css" rel="stylesheet" />
    <script src="~/Content/bootstrap_clock_picker/src/clockpicker.js"></script>
    <link href="~/Content/bootstrap_clock_picker/src/standalone.css" rel="stylesheet" />

    @* new added..................................... *@
    <script src="~/Content/AdminPanel/js/jquery-2.1.3.js"></script>
    <link href="~/Content/AdminPanel/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminPanel/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/AdminPanel/css/sweet-alert.css" rel="stylesheet" />

    <link href="~/Content/AdminPanel/css/themes/Default.css" rel="stylesheet" />
    @*<link id="themeStyle" href="~/Content/AdminPanel/css/style.css" rel="stylesheet" />*@

    <link href="~/Content/AdminPanel/css/themes/responsive.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="container">
        <div class="row" id="header">
            <div class="col-md-12">
                <div class="col-md-2 logo">
                    <h1>
                        AS:TRAVEL <a href="#" id="menuCollapse"><i class="fa fa-1x fa-caret-left"></i></a>
                        <i class="fa fa-bars" id="normalView"></i><a href="#" id="responsiveMenu"><i class="fa fa-bars"></i></a> <a href="#" id="menuExpand"><i class="fa fa-1x fa-caret-right"></i></a>
                    </h1>
                </div>
                <!-- sidebar end here -->
                <div class="col-md-10" id="pageHeader">
                    <div class="col-md-6">
                        @if (HttpContext.Current.Session["LoggedUserType"] != null && (HttpContext.Current.Session["LoggedUserType"].ToString() == "CompanyAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "UserAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "User") && HttpContext.Current.Session["LoggedUserStatus"].ToString() == "A")
                        {
                            var companyName = ViewData["CompanyName"].ToString();
                            <h1>@companyName</h1>
                        }
                        else
                        {
                            <h1>Alchemy Software</h1>
                        }
                    </div>
                    <div class="col-md-6">
                        <div id="profile_photo">
                            @if (HttpContext.Current.Session["LoggedUserType"] != null && HttpContext.Current.Session["LoggedUserType"].ToString() == "AslSuperadmin" && HttpContext.Current.Session["LoggedUserStatus"].ToString() == "A")
                            {
                                <span class="searchBox">
                                    Hello! <strong>@HttpContext.Current.Session["LoggedUserName"].ToString()</strong>
                                </span>
                                <img src="../../Content/AdminPanel/images/user.png" width="30" height="30" alt="" />
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" style="" role="menu">
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </div>
                            }

                            else if (HttpContext.Current.Session["LoggedUserType"] != null && (HttpContext.Current.Session["LoggedUserType"].ToString() == "CompanyAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "UserAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "User") && HttpContext.Current.Session["LoggedUserStatus"].ToString() == "A")
                            {
                                <span class="searchBox">
                                    Hello! <strong>@HttpContext.Current.Session["LoggedUserName"].ToString()</strong>
                                </span>
                                <img src="../../Content/AdminPanel/images/user.png" width="30" height="30" alt="" />
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" style="" role="menu">
                                        <li>@Html.ActionLink("Update Password", "PasswordChangedForm", "Password")</li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="btn-group">
                                    <a class="btn btn-info" href="../Login/">Login</a>
                                </div>
                            }
                        </div>
                    </div>
                    <!--   <hr> -->
                </div>
                <!-- <hr> -->
            </div>
        </div>
        <!-- header end -->
        <div style="border-top:1px solid #EAECEC;"></div>
        <!-- secondary header end -->
        <!-- sidebar start -->
        <div class="col-md-2" id="sidebar">
            @if (HttpContext.Current.Session["LoggedUserType"] != null && HttpContext.Current.Session["LoggedUserType"].ToString() == "AslSuperadmin" && HttpContext.Current.Session["LoggedUserStatus"].ToString() == "A")
            {
                <ul class="accordion">
                    <li>
                        <span><i class="fa fa-user"></i></span> <span class="mainMenuText">Input Form</span>
                        <ul class="subMenu">
                            <li>@Html.ActionLink("Company Creation", "Create", "AslCompany")</li>
                            <li>@Html.ActionLink("Branch Creation", "Create", "Asl_Branch")</li>
                            <li>@Html.ActionLink("User Creation", "Create", "AslUserCo")</li>
                            <li>@Html.ActionLink("Create Menu List", "Index", "ASL_MENU")</li>
                            <li>@Html.ActionLink("Permission Menu", "PermissionFrom", "MenuPermission")</li>
                            <li>@Html.ActionLink("Create Table List", "Index", "ASL_Table")</li>
                        </ul>
                    </li>

                    <li>
                        <span><i class="fa fa-table"></i></span> <span class="mainMenuText">Information Form</span>
                        <ul class="subMenu">
                            <li>@Html.ActionLink("Company Information", "Index", "AslCompany")</li>
                            <li> @Html.ActionLink("List of User-Company", "SearchCompanyList", "AslUserCo")</li>
                            <li> @Html.ActionLink("Module Information", "ShowModuleList", "ASL_MENU")</li>
                            <li> @Html.ActionLink("Menu Information", "ShowMenuList", "ASL_MENU")</li>
                            <li> @Html.ActionLink("User Role Information", "ViewRoleList", "ASL_ROLE")</li>
                        </ul>
                    </li>

                    <li>
                        <span><i class="fa fa-cog"></i></span> <span class="mainMenuText">Settings</span>
                        <ul class="subMenu">
                            <li>@Html.ActionLink("Theme Set", "Settings", "Home")</li>
                        </ul>
                    </li>
                </ul>
            }
            else if (HttpContext.Current.Session["LoggedUserType"] != null && (HttpContext.Current.Session["LoggedUserType"].ToString() == "CompanyAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "UserAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "User") && HttpContext.Current.Session["LoggedUserStatus"].ToString() == "A")
            {


                string moduleName = "", menuType = "";
                if (ViewData["Highlight_Module"] != null && ViewData["Highlight_Module_Type"] != null)
                {
                    moduleName = ViewData["Highlight_Module"].ToString();
                    menuType = ViewData["Highlight_Module_Type"].ToString();
                }


                <ul class="accordion">
                    @if (HttpContext.Current.Session["LoggedUserType"].ToString() == "CompanyAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "UserAdmin")
                    {
                        <li><i class="fa fa-home"></i><span class="mainMenuText"> @Html.ActionLink("DASHBOARD", "Index", "DashBoard", "", new { @style = "color: #d1d6d8;" })</span></li>
                    }



                    @*.............//Forms*@
                    @if (ViewData["validUserForm"] != null && ViewData["Module"] != null && ViewData["Menu"] != null)
                    {

                        foreach (var module in (IEnumerable<ASL_MENUMST>)ViewData["Module"])
                        {
                            foreach (var x in (IEnumerable<ASL_ROLE>)ViewData["validUserForm"])
                            {
                                if (x.MODULEID == module.MODULEID && x.STATUS == "A" && module.MODULENM == moduleName && x.MENUTP == menuType)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-user"></i></span> <span class="mainMenuText">@module.MODULENM (Form)</span>
                                        @{
                                              var userid = Convert.ToInt64(Session["loggedUserID"]);
                var comid = Convert.ToInt64(Session["loggedCompID"]);
                                                TravelDbContext db = new TravelDbContext();
                                            ViewData["Form_OrderBySerial"] = ((from c in db.AslRoleDbSet
                                                where (c.USERID == userid && c.COMPID == comid && c.STATUS == "A" && c.MENUTP == "F" && c.MODULEID == module.MODULEID)
                                                select c).OrderBy(y=>y.SERIAL));
                                        }
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["Form_OrderBySerial"])
                                            {
                                                if (c.MODULEID == module.MODULEID)
                                                {
                                                    <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                            break;
                                }
                                else if (x.MODULEID == module.MODULEID && x.STATUS == "A")
                                {
                                    <li>
                                        <span><i class="fa fa-user"></i></span> <span class="mainMenuText">@module.MODULENM (Form)</span>
                                        @{
                                    var userid = Convert.ToInt64(Session["loggedUserID"]);
                                    var comid = Convert.ToInt64(Session["loggedCompID"]);
                                    TravelDbContext db = new TravelDbContext();
                                    ViewData["Form_OrderBySerial"] = ((from c in db.AslRoleDbSet
                                                                       where (c.USERID == userid && c.COMPID == comid && c.STATUS == "A" && c.MENUTP == "F" && c.MODULEID == module.MODULEID)
                                                                       select c).OrderBy(y => y.SERIAL));
                                        }
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["Form_OrderBySerial"])
                                            {
                                                if (c.MODULEID == module.MODULEID)
                                                {
                                                    <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                            break;

                                }

                            }
                        }
                    }


                    @*.............//Reports*@
                    @if (ViewData["validUserReports"] != null && ViewData["Module"] != null && ViewData["Menu"] != null)
                    {

                        foreach (var module in (IEnumerable<ASL_MENUMST>)ViewData["Module"])
                        {
                            foreach (var x in (IEnumerable<ASL_ROLE>)ViewData["validUserReports"])
                            {
                                if (x.MODULEID == module.MODULEID && x.STATUS == "A" && module.MODULENM == moduleName && x.MENUTP == menuType)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-table"></i></span> <span class="mainMenuText">@module.MODULENM (Reports)</span>
                                        <ul class="subMenu">
                                            @{
                                    var userid = Convert.ToInt64(Session["loggedUserID"]);
                                    var comid = Convert.ToInt64(Session["loggedCompID"]);
                                    TravelDbContext db = new TravelDbContext();
                                    ViewData["Form_OrderBySerial"] = ((from c in db.AslRoleDbSet
                                                                       where (c.USERID == userid && c.COMPID == comid && c.STATUS == "A" && c.MENUTP == "R" && c.MODULEID == module.MODULEID)
                                                                       select c).OrderBy(y => y.SERIAL));
                                            }
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["Form_OrderBySerial"])
                                            {
                                                if (c.MODULEID == module.MODULEID)
                                                {
                                                    if (c.CONTROLLERNAME == "List" && (c.ACTIONNAME == "ListofTest" || c.ACTIONNAME == "ListofDepartment" || c.ACTIONNAME == "VaccumInfo" || c.ACTIONNAME == "ManagementInfo" ))
                                                    {
                                                        <li> @Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME, "", new { target = "_blank" }) </li>
                                                    }
                                                    else  if (c.CONTROLLERNAME == "HmsReport" && ( c.ACTIONNAME == "Get_MedicineInformation" || c.ACTIONNAME == "Get_OperationHeadInformation" || c.ACTIONNAME == "Get_CabinBedInformation" || c.ACTIONNAME == "Get_BillHeadInformation"))
                                                    {
                                                        <li> @Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME, "", new { target = "_blank" }) </li>
                                                    }
                                                    else if (c.CONTROLLERNAME == "Account" && (c.ACTIONNAME == "AccountsReport"))
                                                    {
                                                        <li> @Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME, "", new { target = "_blank" }) </li>
                                                    }
                                                    else 
                                                    {
                                                        <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                    }
                                                }

                                            }
                                        </ul>
                                    </li>
                                    break;
                                }
                                else if (x.MODULEID == module.MODULEID && x.STATUS == "A")
                                {
                                    <li>
                                        <span><i class="fa fa-table"></i></span> <span class="mainMenuText">@module.MODULENM (Reports)</span>
                                        <ul class="subMenu">
                                            @{
                                    var userid = Convert.ToInt64(Session["loggedUserID"]);
                                    var comid = Convert.ToInt64(Session["loggedCompID"]);
                                    TravelDbContext db = new TravelDbContext();
                                    ViewData["Form_OrderBySerial"] = ((from c in db.AslRoleDbSet
                                                                       where (c.USERID == userid && c.COMPID == comid && c.STATUS == "A" && c.MENUTP == "R" && c.MODULEID == module.MODULEID)
                                                                       select c).OrderBy(y => y.SERIAL));
                                            }
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["Form_OrderBySerial"])
                                            {
                                                if (c.MODULEID == module.MODULEID)
                                                {
                                                    if (c.CONTROLLERNAME == "List" && (c.ACTIONNAME == "ListofTest" || c.ACTIONNAME == "ListofDepartment" || c.ACTIONNAME == "VaccumInfo" || c.ACTIONNAME == "ManagementInfo"))
                                                    {
                                                        <li> @Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME, "", new { target = "_blank" }) </li>
                                                    }
                                                    else  if (c.CONTROLLERNAME == "HmsReport" && ( c.ACTIONNAME == "Get_MedicineInformation" || c.ACTIONNAME == "Get_OperationHeadInformation" || c.ACTIONNAME == "Get_CabinBedInformation" || c.ACTIONNAME == "Get_BillHeadInformation"))
                                                    {
                                                        <li> @Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME, "", new { target = "_blank" }) </li>
                                                    }
                                                     else if (c.CONTROLLERNAME == "Account" && (c.ACTIONNAME == "AccountsReport"))
                                                    {
                                                        <li> @Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME, "", new { target = "_blank" }) </li>
                                                    }
                                                    else
                                                    {
                                                        <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                    }
                                                   
                                                }

                                            }
                                        </ul>
                                    </li>
                                    break;
                                }

                            }
                        }
                    }





                    @*//User(Forms) Dynamic Menu
                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["validUserForm"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["ActiveUserForm"] = a.STATUS;
                            }
                        }

                        //User(Report) Dynamic Menu
                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["validUserReports"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["ActiveUserReport"] = a.STATUS;
                            }
                        }

                        //Billing(Forms) Dynamic Menu
                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["validBillingForm"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["ActiveBillingForm"] = a.STATUS;
                            }
                        }

                        //Biling(Report) Dynamic Menu
                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["validBillingReports"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["ActiveBillingReports"] = a.STATUS;
                            }
                        }
                        //GL(Form) dynamic menu
                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["valid_GL_Form"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["Active_GL_Form"] = a.STATUS;
                            }
                        }

                        //GL(Report) Dynamic Menu

                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["valid_GL_Report"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["Active_GL_Report"] = a.STATUS;
                            }
                        }


                        //HMS(Form) dynamic menu
                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["valid_HMS_Form"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["Active_HMS_Form"] = a.STATUS;
                            }
                        }

                        //HMS(Report) Dynamic Menu

                        foreach (var a in (IEnumerable<ASL_ROLE>)ViewData["valid_HMS_Report"])
                        {
                            if (a.STATUS == "A")
                            {
                                ViewData["Active_HMS_Report"] = a.STATUS;
                            }
                        }

                        <ul class="accordion">
                            @if (HttpContext.Current.Session["LoggedUserType"].ToString() == "CompanyAdmin" || HttpContext.Current.Session["LoggedUserType"].ToString() == "UserAdmin")
                            {
                                <li><i class="fa fa-home"></i><span class="mainMenuText"> @Html.ActionLink("DASHBOARD", "Index", "DashBoard", "", new { @style = "color: #d1d6d8;" })</span></li>
                            }

                            @if (ViewData["validUserForm"] != null && ViewData["ActiveUserForm"] != null)
                            {
                                if (ViewData["HighLight_Menu_InputForm"] != null)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-user"></i></span> <span class="mainMenuText">User(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["validUserForm"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span><i class="fa fa-user"></i></span> <span class="mainMenuText">User(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["validUserForm"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>

                                }

                            }

                            @if (ViewData["validUserReports"] != null && ViewData["ActiveUserReport"] != null)
                            {
                                <li>
                                    <span><i class="fa fa-table"></i></span> <span class="mainMenuText">User(Report)</span>
                                    <ul class="subMenu">
                                        @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["validUserReports"])
                                        {
                                            //<li> @Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME, "", new { target = "_blank" }) </li>
                                            <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                        }
                                    </ul>
                                </li>
                            }

                            @if (ViewData["validBillingForm"] != null && ViewData["ActiveBillingForm"] != null)
                            {
                                if (ViewData["HighLight_Menu_CnfForm"] != null)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-tag"></i></span> <span class="mainMenuText">Lab(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["validBillingForm"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span><i class="fa fa-tag"></i></span> <span class="mainMenuText">Lab(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["validBillingForm"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>
                                }

                            }

                            @if (ViewData["validBillingReports"] != null && ViewData["ActiveBillingReports"] != null)
                            {
                                if (ViewData["HighLight_Menu_CnfReport"] != null)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-table"></i></span> <span class="mainMenuText">Lab(Report)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["validBillingReports"])
                                            {
                                                if (c.ACTIONNAME == "ListofDepartment" && c.CONTROLLERNAME == "List")
                                                {
                                                    <li>@Html.ActionLink("Lists of Department", "ListofDepartment", "List", "", new { target = "_blank" })</li>

                                                }
                                                else if (c.ACTIONNAME == "VaccumInfo" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Tests-Vaccum", "VaccumInfo", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "ListofTest" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Tests-List", "ListofTest", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "TestNormalValues" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Tests-Normal Values", "TestNormalValues", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "ReferInfo" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Refer Information", "ReferInfo", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "ManagementInfo" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Management Information", "ManagementInfo", "List", "", new { target = "_blank" })</li>
                                                }


                                                else
                                                {
                                                    <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                }


                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span><i class="fa fa-table"></i></span> <span class="mainMenuText">Lab(Report)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["validBillingReports"])
                                            {
                                                if (c.ACTIONNAME == "ListofDepartment" && c.CONTROLLERNAME == "List")
                                                {
                                                    <li>@Html.ActionLink("List of Department", "ListofDepartment", "List", "", new { target = "_blank" })</li>

                                                }
                                                else if (c.ACTIONNAME == "VaccumInfo" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Vaccum Info", "VaccumInfo", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "ListofTest" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("List of Test", "ListofTest", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "TestNormalValues" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Test Normal Values", "TestNormalValues", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "ReferInfo" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Refer Information", "ReferInfo", "List", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "ManagementInfo" && c.CONTROLLERNAME == "List")
                                                {

                                                    <li>@Html.ActionLink("Management Information", "ManagementInfo", "List", "", new { target = "_blank" })</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                }

                            }

                            @if (ViewData["valid_GL_Form"] != null && ViewData["Active_GL_Form"] != null)
                            {
                                if (ViewData["HighLight_Menu_GL_Form"] != null)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-tag"></i></span> <span class="mainMenuText">GL(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["valid_GL_Form"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span><i class="fa fa-tag"></i></span> <span class="mainMenuText">GL(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["valid_GL_Form"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>
                                }

                            }
                            @if (ViewData["valid_GL_Report"] != null && ViewData["Active_GL_Report"] != null)
                            {
                                if (ViewData["HighLight_Menu_GL_Report"] != null)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-table"></i></span> <span class="mainMenuText">GL(Report)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["valid_GL_Report"])
                                            {
                                                if (c.ACTIONNAME == "Get_ListofCostPool" && c.CONTROLLERNAME == "GlListReport")
                                                {
                                                    <li>@Html.ActionLink("List of Cost Pool", "Get_ListofCostPool", "GlListReport", "", new { target = "_blank" })</li>
                                                }
                                                else if (c.ACTIONNAME == "Get_HeadOfAccounts_List" && c.CONTROLLERNAME == "GlListReport")
                                                {
                                                    <li>@Html.ActionLink("List of Accounts Head", "Get_HeadOfAccounts_List", "GlListReport", "", new { target = "_blank" })</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span><i class="fa fa-table"></i></span> <span class="mainMenuText">GL(Report)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["valid_GL_Report"])
                                            {
                                                if (c.ACTIONNAME == "Get_ListofCostPool" && c.CONTROLLERNAME == "GlListReport")
                                                {
                                                    <li>@Html.ActionLink("List of Cost Pool", "Get_ListofCostPool", "GlListReport", "", new { target = "_blank" })</li>

                                                }

                                                else if (c.ACTIONNAME == "Get_HeadOfAccounts_List" && c.CONTROLLERNAME == "GlListReport")
                                                {

                                                    <li>@Html.ActionLink("List of Accounts Head", "Get_HeadOfAccounts_List", "GlListReport", "", new { target = "_blank" })</li>
                                                }
                                                else
                                                {
                                                    <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                                }

                                            }
                                        </ul>
                                    </li>
                                }

                            }
                            @if (ViewData["valid_HMS_Form"] != null && ViewData["Active_HMS_Form"] != null)
                            {
                                if (ViewData["HighLight_Menu_HMS_Form"] != null)
                                {
                                    <li class="active">
                                        <span><i class="fa fa-tag"></i></span> <span class="mainMenuText">HMS(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["valid_HMS_Form"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <span><i class="fa fa-tag"></i></span> <span class="mainMenuText">HMS(Form)</span>
                                        <ul class="subMenu">
                                            @foreach (var c in (IEnumerable<ASL_ROLE>)ViewData["valid_HMS_Form"])
                                            {
                                                <li>@Html.ActionLink(c.MENUNAME, c.ACTIONNAME, c.CONTROLLERNAME)</li>
                                            }
                                        </ul>
                                    </li>
                                }

                            }*@

                    @if (HttpContext.Current.Session["LoggedUserType"] != null && (HttpContext.Current.Session["LoggedUserType"].ToString() == "CompanyAdmin") && HttpContext.Current.Session["LoggedUserStatus"].ToString() == "A")
                    {
                        <li>
                            <span><i class="fa fa-cog"></i></span> <span class="mainMenuText">Settings</span>
                            <ul class="subMenu">
                                <li>@Html.ActionLink("User Permission", "Index", "ASL_ROLE")</li>
                                @*<li>@Html.ActionLink("Search User Information", "SearchUserList", "AslUserCo")</li>*@
                                @*<li>@Html.ActionLink("Category Lists", "ShowCategoryList", "CategoryItem")</li>*@
                                <li>@Html.ActionLink("Theme Set", "Settings", "Home")</li>
                            </ul>
                        </li>

                    }
                </ul>
            }
            <div class="sidebar_divider" id="developerDivider"></div>


            <div id="developer">
                <div class="sidebar_divider" style="width:90%;padding-bottom:10px;"></div>
                @*<div id="btnChat">
                        <span><i class="fa fa-comments"></i> Chat <span class="notification">12</span></span>
                    </div>
                    <div id="btnMail">
                        <span><i class="fa fa-envelope-o"></i> Mail <span class="notification">12</span></span>
                    </div>*@

                <div style="margin-top:0px;">
                    <div id="developerName">
                        <p>
                            Developed by :<span> <a href="">Alchemy Software</a></span>
                        </p>
                    </div>
                    <div id="developerLogo">
                        <img src="../../Content/AdminPanel/images/alchemy.png" alt="">
                    </div>
                </div>

            </div>
            <!-- developer section end here -->
        </div>
        <!-- sidebar end -->
        <!-- main content start here -->
        <div class="col-md-10 pull-right" id="mainContentBox">
            <div id="contentBox">
                @*<div id="contentHeaderBox">

                    </div>*@
                @*<div class="col-md-12">*@
                @RenderSection("featured", required: false)
                @RenderBody()
                @*</div>*@
            </div> <!-- content box end here -->
        </div>
        <!-- main content end here -->

    </div>
    <!-- container end -->



    <script src="~/Content/AdminPanel/js/jquery.cookie.js"></script>
    <script src="~/Content/AdminPanel/js/bootstrap.min.js"></script>
    <script src="~/Content/AdminPanel/js/sweet-alert.min.js"></script>
    <script src="~/Content/AdminPanel/js/function.js"></script>










    @if (TempData["BrackFieldDropFromLayout_AslUserCOController"] != null)
    {

    }
    else
    {
        <br />
        <br />
        <br />
    }




    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)


    <script src="~/Scripts/bootstrap-hover-dropdown.js"></script>
    <script>
        // very simple to use!
        $(document).ready(function () {
            $('.js-activated').dropdownHover().dropdown();

            var min = 5 * 60 * 1000;
            var myVar = setInterval(function () { myFuncTwo(); }, min);

            function myFuncTwo() {
                //window.location = "/Logout/Index";
                $.ajax({

                    url: '/Session/Index'

                });

            }



        });
    </script>
</body>
</html>
